@use "mixins/badge";
@use "mixins/border-radius";
@use "mixins/hover";
@use "variables";

// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  padding: variables.$badge-padding-y variables.$badge-padding-x;
  font-size: variables.$badge-font-size;
  font-weight: variables.$badge-font-weight;
  line-height: 1;
  color: variables.$badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius.border-radius();

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// scss-lint:disable QualifyingElement
// Add hover effects, but only for links
a.badge {
  @include hover.hover-focus {
    color: variables.$badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}
// scss-lint:enable QualifyingElement

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: variables.$badge-pill-padding-x;
  padding-left: variables.$badge-pill-padding-x;
  @include border-radius.border-radius(variables.$badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

.badge-default {
  @include badge.badge-variant(variables.$badge-default-bg);
}

.badge-primary {
  @include badge.badge-variant(variables.$badge-primary-bg);
}

.badge-success {
  @include badge.badge-variant(variables.$badge-success-bg);
}

.badge-info {
  @include badge.badge-variant(variables.$badge-info-bg);
}

.badge-warning {
  @include badge.badge-variant(variables.$badge-warning-bg);
}

.badge-danger {
  @include badge.badge-variant(variables.$badge-danger-bg);
}
