@use "mixins/border-radius";
@use "mixins/clearfix";
@use "variables";

.breadcrumb {
  padding: variables.$breadcrumb-padding-y variables.$breadcrumb-padding-x;
  margin-bottom: variables.$spacer-y;
  list-style: none;
  background-color: variables.$breadcrumb-bg;
  @include border-radius.border-radius(variables.$border-radius);
  @include clearfix.clearfix;
}

.breadcrumb-item {
  float: left;

  // The separator between breadcrumbs (by default, a forward-slash: "/")
  + .breadcrumb-item::before {
    display: inline-block; // Suppress underlining of the separator in modern browsers
    padding-right: variables.$breadcrumb-item-padding;
    padding-left: variables.$breadcrumb-item-padding;
    color: variables.$breadcrumb-divider-color;
    content: "#{variables.$breadcrumb-divider}";
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  + .breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: variables.$breadcrumb-active-color;
  }
}
