@use "mixins";
@use "mixins/border-radius";
@use "variables";

// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: variables.$font-family-monospace;
}

// Inline code
code {
  padding: variables.$code-padding-y variables.$code-padding-x;
  font-size: variables.$code-font-size;
  color: variables.$code-color;
  background-color: variables.$code-bg;
  @include border-radius.border-radius(variables.$border-radius);

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}

// User input typically entered via keyboard
kbd {
  padding: variables.$code-padding-y variables.$code-padding-x;
  font-size: variables.$code-font-size;
  color: variables.$kbd-color;
  background-color: variables.$kbd-bg;
  @include border-radius.border-radius(variables.$border-radius-sm);
  @include mixins.box-shadow(variables.$kbd-box-shadow);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: variables.$nested-kbd-font-weight;
    @include mixins.box-shadow(none);
  }
}

// Blocks of code
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: variables.$code-font-size;
  color: variables.$pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: variables.$pre-scrollable-max-height;
  overflow-y: scroll;
}
