@use "sass:list";
@use "sass:meta";
@use "variables";

// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if variables.$enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if variables.$enable-transitions {
    @if list.length($transition) == 0 {
      transition: variables.$transition-base;
    } @else {
      transition: $transition;
    }
  }
}

// Utilities
@include meta.load-css("mixins/breakpoints");
@include meta.load-css("mixins/hover");
@include meta.load-css("mixins/image");
@include meta.load-css("mixins/badge");
@include meta.load-css("mixins/resize");
@include meta.load-css("mixins/screen-reader");
@include meta.load-css("mixins/size");
@include meta.load-css("mixins/reset-text");
@include meta.load-css("mixins/text-emphasis");
@include meta.load-css("mixins/text-hide");
@include meta.load-css("mixins/text-truncate");
@include meta.load-css("mixins/transforms");
@include meta.load-css("mixins/visibility");

// // Components
@include meta.load-css("mixins/alert");
@include meta.load-css("mixins/buttons");
@include meta.load-css("mixins/cards");
@include meta.load-css("mixins/pagination");
@include meta.load-css("mixins/lists");
@include meta.load-css("mixins/list-group");
@include meta.load-css("mixins/nav-divider");
@include meta.load-css("mixins/forms");
@include meta.load-css("mixins/table-row");

// // Skins
@include meta.load-css("mixins/background-variant");
@include meta.load-css("mixins/border-radius");
@include meta.load-css("mixins/gradients");

// // Layout
@include meta.load-css("mixins/clearfix");
// @import "mixins/navbar-align";
@include meta.load-css("mixins/grid-framework");
@include meta.load-css("mixins/grid");
@include meta.load-css("mixins/float");
