@use "mixins/border-radius";
@use "mixins/hover";
@use "mixins/pagination";
@use "variables";

.pagination {
  display: flex;
  // 1-2: Disable browser default list styles
  padding-left: 0; // 1
  list-style: none; // 2
  @include border-radius.border-radius();
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      @include border-radius.border-left-radius(variables.$border-radius);
    }
  }
  &:last-child {
    .page-link {
      @include border-radius.border-right-radius(variables.$border-radius);
    }
  }

  &.active .page-link {
    z-index: 2;
    color: variables.$pagination-active-color;
    background-color: variables.$pagination-active-bg;
    border-color: variables.$pagination-active-border;
  }

  &.disabled .page-link {
    color: variables.$pagination-disabled-color;
    pointer-events: none;
    cursor: variables.$cursor-disabled; // While `pointer-events: none` removes the cursor in modern browsers, we provide a disabled cursor as a fallback.
    background-color: variables.$pagination-disabled-bg;
    border-color: variables.$pagination-disabled-border;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: variables.$pagination-padding-y variables.$pagination-padding-x;
  margin-left: -1px;
  line-height: variables.$pagination-line-height;
  color: variables.$pagination-color;
  background-color: variables.$pagination-bg;
  border: variables.$pagination-border-width solid variables.$pagination-border-color;

  @include hover.hover-focus {
    color: variables.$pagination-hover-color;
    text-decoration: none;
    background-color: variables.$pagination-hover-bg;
    border-color: variables.$pagination-hover-border;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination.pagination-size(variables.$pagination-padding-y-lg, variables.$pagination-padding-x-lg, variables.$font-size-lg, variables.$line-height-lg, variables.$border-radius-lg);
}

.pagination-sm {
  @include pagination.pagination-size(variables.$pagination-padding-y-sm, variables.$pagination-padding-x-sm, variables.$font-size-sm, variables.$line-height-sm, variables.$border-radius-sm);
}
