@use "mixins/border-radius";
@use "mixins/gradients";
@use "variables";

// Progress animations
@keyframes progress-bar-stripes {
  from { background-position: variables.$progress-height 0; }
  to { background-position: 0 0; }
}

// Basic progress bar
.progress {
  display: flex;
  overflow: hidden; // force rounded corners by cropping it
  font-size: variables.$progress-font-size;
  line-height: variables.$progress-height;
  text-align: center;
  background-color: variables.$progress-bg;
  @include border-radius.border-radius(variables.$progress-border-radius);
}
.progress-bar {
  height: variables.$progress-height;
  color: variables.$progress-bar-color;
  background-color: variables.$progress-bar-bg;
}

// Striped
.progress-bar-striped {
  @include gradients.gradient-striped();
  background-size: variables.$progress-height variables.$progress-height;
}

// Animated
.progress-bar-animated {
  animation: progress-bar-stripes variables.$progress-bar-animation-timing;
}
