// Alerts

@mixin alert-variant($background, $border, $body-color) {
  background-color: $background;
  border-color: $border;
  color: $body-color;

  hr {
    border-top-color: color.adjust($border, $lightness: -5%);
  }
  .alert-link {
    color: color.adjust($body-color, $lightness: -10%);
  }
}
