@use "../mixins/border-radius";
@use "../variables";

//
// Border
//

.border-0        { border: 0 !important; }
.border-top-0    { border-top: 0 !important; }
.border-right-0  { border-right: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0   { border-left: 0 !important; }

//
// Border-radius
//

.rounded {
  @include border-radius.border-radius(variables.$border-radius);
}
.rounded-top {
  @include border-radius.border-top-radius(variables.$border-radius);
}
.rounded-right {
  @include border-radius.border-right-radius(variables.$border-radius);
}
.rounded-bottom {
  @include border-radius.border-bottom-radius(variables.$border-radius);
}
.rounded-left {
  @include border-radius.border-left-radius(variables.$border-radius);
}

.rounded-circle {
  border-radius: 50%;
}

.rounded-0 {
  border-radius: 0;
}
